:root {
  font-size: 16px;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.5rem;
  --margin-xxl: 1.75rem;

  --light-grayBackground: #f5f6f7;
  --pinkBackground: rgb(247, 237, 237);
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  font-weight: 360;
  font-style: normal;
}
body {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  gap: var(--margin-m);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 150px;
}

.form-container {
  background-color: var(--light-grayBackground);
}
form {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.author,
.title,
.numPages,
.submit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#have-read {
  position: relative;
  right: 50px;
  top: 10px;
}
label {
  width: 30%;
  padding-right: var(--margin-m);
}

.legend,
.submit {
  display: flex;
  justify-content: flex-start;
}

.showcase {
  background-color: rgb(247, 237, 237);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}
.card {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
  box-shadow: 5px 8px 5px black;
}

.legend {
  text-align: center;
}
